{% extends 'base-coordinator.html' %}



{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="task">
    TASK
</div>
<div class="single-task">
    <div class="single-time">12.35pm</div>
    <div class="task-title">Update the new menu card</div>
    <div class="task-content">Please check your email! You have received the updated menu card, kindly download and circulate it to tables Please check your email! You have received the updated menu card, kindly download and circulate it to tables Please check your email! You have received the updated menu card, kindly download and circulate it to tables Please check your email! You have received the updated menu card, kindly download and circulate it to tables Please check your email! You have received the updated menu card, kindly download and circulate it to tables</div>
    <div class="taskk-name">- Zubair ahmed</div>
    
    <div class="space-div">
    <div class="task-icons" >
    <i class='fa fa-paperclip' style='font-size:20px; color:white;'></i>
    <i class='fa fa-camera-retro' style='font-size:20px; color:white; padding-left:2px;'></i>
    </div>
    <br>
    <div class="but-div">
    <button class="button-task button5">Submit</button>
    </div></div>
</div>

<br>





{% endblock %}